body {
  background-color: #fafafa;
  overflow-x: hidden;
}

.title {
  margin: .2em;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  text-shadow: 4px 4px 16px black;
  text-align: center;
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.98, -1.22, 0, 1.87);
  transform: translateX(-3000px);
}
.title-entered {
  transform: translateX(0);
}
.board-centered {
  text-align: center;
}
#game-container {
  display: inline-grid;
  grid-template-columns: repeat(7,100px);
  grid-template-rows: repeat(6,100px);
  border-radius: 10px;
  overflow: hidden;
}
.board-cell {
  position: relative;
  background-color: blue;
  border: 1px solid black;
}
.pawn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fafafa;
}
.pawn-tony {
  background-color: rgba(255,0,0,.8);
}
.pawn-paul {
  background-color: rgb(141,198,63);
}
.smile-win {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url("assets/smile-win.png");
  background-size: cover;
}

.user-interactions {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 1em auto;
}
.player-name {
  width: 40%;
  background-color: #fafafa;
  border: none;
  box-shadow: inset 0 0 5px 5px #888;
  color: #888;
  font-size: 55px;
  text-align: center;
  transition: transform 1.5s;
}
.player-tony-field {
  box-shadow: inset 0 0 5px 5px red;
  color: rgba(255,0,0,.8);
}
.player-paul-field {
  box-shadow: inset 0 0 5px 5px green;
  color: rgb(141,198,63);
}
.player-scale {
  transform: scale(1.25);
}
#start-button {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.message-box {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  text-align: center;
  color: rgba(21,54,99,.8);
}
.message-box .message {
  margin: .2em;
}
.right-menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 200px;
  font-family: 'Roboto Slab', serif;
  border-bottom-left-radius: 100px;
  background-color: green;
  transition: transform 2s;
  transform: translateX(200px) translateY(-100px);
}
.right-menu-button:hover{
  transform: translateX(0) translateY(0);
}
.right-menu-title {
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  text-shadow: 4px 4px 16px white;
  text-align: center;
}
.right-menu-select {
  text-align: center;
}
.right-menu-select button {
  width: 50%;
  color: white;
  font-size: 2em;
  border: none;
  background-color: #1c5410;
  font-family: 'Roboto Slab', serif;
  border-radius: 2em;
}
